// Layout

// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// Colors

// $main-font-color: Linear gradient hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$main-font-color: hsl(278, 94%, 30%);
$error-font-color: hsl(0, 100%, 66%);

// Neutral
$White: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

$font-size: 18px;

$font-family: 'Space Grotesk', sans-serif;                                             
$font-Weights: 500;

// border
$test: 2px solid black;
$test1: 2px solid red;
$test2: 2px solid green;