@import  './_variables';

.app {
  // border: $test;
  height: 100vh;
  // min-height: 600px;
  width: 100vw;
  font-family: $font-family;
  font-weight: $font-Weights;
  color: $main-font-color;
  display: flex;
  overflow: hidden;
  position: relative;

  .main-bg {
    background-image: url( '../public/bg-main-desktop.png');
    height: 100%;
    min-width: 33%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }

  .left-side {
    // border: $test2;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // min-width: 500px;
  }
  .right-side {
    // border: $test2;
    flex: 1;
  }
}

@media screen and (max-width: 660px) {
  .app {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
  
    .main-bg {
      background-image: url( '../public/bg-main-mobile.png');
      height: 40%;
      width: 100%;
    }
  
    .left-side {
      height: 250px;
      display: flex;
      flex-direction: column-reverse;
      flex: auto;
    }
    .right-side {
      flex: auto;
      padding-top: 40px;
    }
  }
  
}